@use 'variables' as v;

// Media Query

@mixin telefono {
    @media (min-width: v.$telefono){
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet){
        @content;
    }
}

@mixin dekstop {
    @media (min-width: v.$desktop){
        @content;
    }
}

@mixin grid($columnas, $espacio, $espacoH) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espacio $espacoH;
}