// Fuentes
$fuente_principal: 'Montserrat', sans-serif;
$fuente_titulos: 'Abril Fatface', cursive;


// Colores
$negro: #262626;
$rosa: #e6acb6;
$beige: #e3dad5;
$fondo:hsla(0,0%,100%,1);
$fondo_gradiente: radial-gradient(at 57% 9%, hsla(82,0%,100%,1) 0px, transparent 50%),
radial-gradient(at 33% 100%, hsla(82,0%,100%,1) 0px, transparent 50%),
radial-gradient(at 100% 100%, hsla(278,100%,92%,1) 0px, transparent 50%),
radial-gradient(at 0% 0%, hsla(341,100%,89%,1) 0px, transparent 50%);

// Media Query

$telefono: 480px;
$tablet: 768px;
$desktop: 992px;