@use 'base/mixins' as m;
@use 'base/variables' as v;

.fechas {
    margin-top: 5rem;
    @include m.tablet {
        @include m.grid(3, 5rem, 0);
        gap: 4rem;
    }

}


.lineup {
    text-align: center;
    padding: 0rem 0rem;
    @include m.tablet {
        padding: 7rem 0rem;
    }

    h3,
    p {
        text-align: center;
        color: white;   
    }

    h3 {
        font-size: 4rem;
        border-top: 1rem solid v.$rosa;
        display: inline-block;
        padding-top: 7rem;     
        color: #363636;
    }

    .nombre-grupo {
        font-weight: bold;
    }

    .dia {
        text-transform: uppercase;
        margin-bottom: 1rem;
        color: v.$rosa;
        font-weight: bold;
    }

    .horario {
        margin-bottom: 6rem;
    }

    ul li {
        list-style: none;
        font-weight: bold;
        font-size: 1.9rem;
        padding: 1.5rem;
    }

    ul {
        padding: 0;
    }

    li:nth-child(odd){
        background-color: rgba(190, 161, 161, 0.151);
    }

    span {
        font-weight: normal;
    }

    .horarios-contenedor {
        background-color: #363636;
        padding: 1rem 0rem;
        margin-bottom: 2rem;
        margin: 3rem;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

        @include m.tablet {
            margin: 0;
        }
    }

}

