@use 'base/variables' as v;
@use 'base/mixins' as m;


.tickets {
    padding: 5rem 0;
    h3 {
        text-align: center;
    }
}

.ticket-general,
.ticket-vip {
	text-align: center;
	font-size: 2rem;
	letter-spacing: 2px;
	font-weight: 600;
}

.ticket {
	@include m.tablet {
		width: 80%;
	}
	margin: 2rem auto;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background: white;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


.album, .der {
	@include m.tablet {
		width: 25rem;
	}
	width: 15rem;
	background-size: contain;
	opacity: 0.85;
}

.admitir {

	@include m.telefono {
		height: 140px;
		font-size: 1rem;
	}

	@include m.tablet {
		height: 250px;
	}

    position: absolute;
	color: v.$negro;
    font-weight: bold;
	height: 120px;
    font-size: 0.7rem;
	padding: 0 10px;
	letter-spacing: 0.15em;
	display: flex;
	text-align: center;
	justify-content: space-around;
	writing-mode: vertical-rl;
	transform: rotate(-180deg);
    margin: 0;
}


.der {
	border-left: 1px dashed #404040;
}


.ticket-info {
	@include m.tablet {
		padding: 2.5rem;
	}
	padding: 1rem;
	

	h2 {
		margin-bottom: 1rem;
		@include m.tablet {
			font-size: 3rem;
		}
		font-size: 1.5rem;
		text-align: center;
		margin-top: 1rem;
	}

	.precio {
		margin: 0;
		background-color: rgb(255, 6, 6);
		color: white;
		font-weight: 600;
		display: inline-block;
		padding-inline: 1rem;

		@include m.tablet {
			font-size: 2rem;
		}
		font-size: 1.5rem;
	}

	.localidad {
		font-weight: 600;
		font-size: 1rem;
		margin: 1rem 0 0 0;
	}
}

.date {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 5px 0;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 1rem;
	gap: 2rem;
	margin: 0;
}

.date span:nth-child(2){
	color: v.$rosa;
}

.img-qr img{
	padding: 2.5rem;
}

.vip .precio{
	background-color: #fbff00;
	color:  v.$negro;
}